.Canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.CanvasFooter,
.CanvasHeader {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.CanvasBody {
  flex: 1;
  border-top: 1px solid #e9ebf1;
  border-bottom: 1px solid #e9ebf1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.CanvasBody_borderless {
  border: none;
}

.CanvasModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
}
