.Loop {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.Loop-content {
  padding: 10px 10px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 0;
}

.Loop-details {
  flex: 1;
  min-width: 0;
  opacity: 0.5;
}

.Loop_cached .Loop-details {
  opacity: 1;
}

.Loop-icon,
.Loop-icon-hover {
  margin-right: 10px;
  color: rgb(142, 155, 178);
}

.Loop:hover .Loop-icon-hover,
.Loop-icon {
  display: block;
}

.Loop-icon-hover,
.Loop:hover .Loop-icon {
  display: none;
}

.Loop:last-child {
  border: none;
}

.Loop-name {
  color: rgb(39, 44, 55);
  font-weight: 600;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Loop_active .Loop-name,
.Loop_active .Loop-icon-hover,
.Loop_active .Loop-icon {
  color: #4882f7;
}

.Loop-metadata {
  color: rgb(142, 155, 178);
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Loop-download {
  border: none;
  background: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #4882f7;
  outline: none;
}
