.Menu-items {
  padding: 0;
  margin: 0;
}

.Menu-item {
  list-style: none;
  height: 50px;
}

.Menu-item:hover {
  background: #f7f8f8;
}

.Menu-item a,
.Menu-item button {
  color: #3c4043;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  outline: none;
  padding: 0 20px;
  list-style: none;
  background: none;
  border: none;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
}
